<div class="container">
  <div class="row">
    <div class="col-4">
      <%= link_to 'Administrator', new_administrator_session_path, class: 'btn btn-success' %>
    </div>
    <div class="col-4">
      <%= link_to 'Teacher', new_teacher_session_path, class: 'btn btn-success' %>
    </div>
    <div class="col-4">
      <%= link_to 'Student', new_student_session_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>
