 <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
 	<a class="navbar-brand" href="/admin/students">Attractor school</a>
 	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 		<span class="navbar-toggler-icon"></span>
 	</button>
 </nav>

  <div class="d-flex justify-content-center align-items-center mt-5">
 	<%= image_tag("Attractor_logo2.jpeg", size: "100%x100%", alt: "Logo") %>
 </div>

 <div class="d-flex justify-content-center align-items-center mt-5">
 	<h1 class = "ml-4">Добро пожаловать</h1>
 </div>

 <div class="d-flex justify-content-center align-items-center mt-2">
 	<h1>В Attractor School</h1>
 </div>

 <div class="d-flex justify-content-center align-items-center mt-3">
 	<h1>Алматы</h1>
 </div>

 <div class="d-flex justify-content-center align-items-center mt-4">
 	<%= link_to "Вход", new_user_session_path, class: "btn btn-outline-success btn-lg" %>
 </div>